<a href="https://colab.research.google.com/github/gangapokhrel/DataScience/blob/main/PythonDataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# valid variables and invalid variables
name = 'yeah this is a good day, Ganga is starting to learn python in the takeo bootcamp ...:D '
sex = 'male'
age='32'
print (name,sex,age)

abx = 12345
print(abx)

#incorrect syntax will not print anything even if other liners are correct, example below
#1_abx = 'Ganga'
#Print(1_abx)

str1= "My name is'ganga string1'.This is string '''test2string'''.This is now double'String'."
print (str1)

#SET
#set is combination of unique values
#set is collection of unordered element
#set is represented by curly braces
#set is mutable
set1={'a',3,'x',-11, 'test','test','a',3/4,'x',0}
set2= {True,False,False,True}
set3={21,25,32,-32,4+6}
print(set1)
print(set2)
print(set3)

#list
list1=[1,2,-4,'a','f']
print(list1)

#tuple
tuple_series = [(1,3),(2,4),(5,7),(8,10)]
for t in tuple_series: print(t)

#dictionary

#string index
str2 ='gangapokhrelfromnepa alis the good life sutimamulakeseapieue'
print (str2)
print (type(str2))
print (len(str2))

print (str2[0])
print (str2[1])
print (str2[2])
print (str2[3])
print (str2[4])
print (str2[5])
print (str2[6])
print (str2[7])
print (str2[8])
print (str2[9])
print (str2[10])
print (str2[13])

str2[1:5:3], str2[8:22:2], str2[15:23:4]

yeah this is a good day, Ganga is starting to learn python in the takeo bootcamp ...:D  male 32
12345
My name is'ganga string1'.This is string '''test2string'''.This is now double'String'.
{0.75, 0, 3, -11, 'a', 'x', 'test'}
{False, True}
{32, -32, 21, 25, 10}
[1, 2, -4, 'a', 'f']
(1, 3)
(2, 4)
(5, 7)
(8, 10)
gangapokhrelfromnepa alis the good life sutimamulakeseapieue
<class 'str'>
60
g
a
n
g
a
p
o
k
h
r
e
r

('aa', 'hefonp ', 'ma')

In [ ]:
#string index
str2 ='gangapokhrelfromnepa alis the good life sutimamulakeseapieue'
print (str2)
print (type(str2))
print (len(str2))

print (str2[0])
print (str2[1])
print (str2[2])
print (str2[3])
print (str2[4])
print (str2[5])
print (str2[6])
print (str2[7])
print (str2[8])
print (str2[9])
print (str2[10])
print (str2[13])

str2[4:5:3], str2[8:22:2], str2[15:23:4]

gangapokhrelfromnepa alis the good life sutimamulakeseapieue
<class 'str'>
60
g
a
n
g
a
p
o
k
h
r
e
r

('a', 'hefonp ', 'ma')

In [ ]:
str1="Nasunamerokathatimroashujharnasakcha"

str1[::]
print(str1)

str1[0::]
print(str1)

str1[:len(str1):]
print(str1)

str1[::1]
print(str1)

str1[:7:]
print(str1)

Nasunamerokathatimroashujharnasakcha
Nasunamerokathatimroashujharnasakcha
Nasunamerokathatimroashujharnasakcha
Nasunamerokathatimroashujharnasakcha
Nasunamerokathatimroashujharnasakcha

Python data types
1. standard data type
  1. Numbers
    1. integer - any whole number positive or negative is called as integer
    2. float -
    3. complex
  2. Data structure Data type